@using Film_Webshop.Viewmodels
@model CreditsViewmodel
@{
    ViewBag.Title = "Credits";
}

<h2>Uw Credits</h2>

@using (Html.BeginForm("Credits", "Credit", FormMethod.Post))
{
    <div class="form-group">
        <label>Vul aantal credits in die u wilt kopen.</label>
        @ViewBag.geenInt
        @Html.TextBoxFor(m => m.Credits)
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Credits)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Krijg 10 Credits" />
        </div>
    </div>
}
