@using System.Diagnostics.Eventing.Reader
@using Film_Webshop.Models
@model List<Film>
@{
    ViewBag.Title = "Geschiedenis";
}
@if (Model == null)
{
    <h2>U heeft nog geen films gekocht.</h2>
}
else
{
    <h2>Uw geschiedenis van gekochte films</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Prijs</th>
                <th>Datum</th>
            </tr>
        </thead>
        @for (int i = 0; i < Model.Count; ++i)
        {
            <tr>
                <td>@Html.DisplayFor(m => m[i].Naam)</td>
                <td>@Html.DisplayFor(m => m[i].Prijs) Credits</td>
                @if (Model[i].Date == DateTime.MinValue)
                {
                    <td>Geen datum gevonden.</td>
                }
                else
                {
                    <td>@Html.DisplayFor(m => m[i].Date)</td>
                }
            </tr>
        }

    </table>
}